/* CSS Variables */

:root {
  --main-color: #454F87;
  --main-color-light: #BEC5EC;
  --secondary-color: #C0C2C4;
}


/* From Univeral Theme - Leave as-is */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* Navigation Menu Styles */

.navbar ul.nav > li > a {
  text-decoration: none;
}

.navbar ul.nav > li > a:hover {
  border-top: 5px solid var(--main-color);
  background: var(--main-color-light);
}

/* Heading Styles */

#heading-breadcrumbs {
  background: var(--main-color);
}

#heading-breadcrumbs h1 {
  color: #fff;
}

.heading h2 {
  color: var(--main-color);
  border-bottom: 5px solid var(--secondary-color);
}

/* Homepage Styles */

.home-carousel {
  background: url('/img/homepage-bg.jpg') center center repeat;
}

.home-carousel .dark-mask {
  background: var(--main-color);
  opacity: 0.6;
}

.box-simple .icon {
  color: var(--main-color);
  border-color: var(--main-color);
}

.bar.background-image-fixed-2 {
  background: url('/img/fixed-homepage-bg.jpg') center top no-repeat;
}

/* Team Page Styles */

.team-img {
  width: 70%;
  border-radius: 50%;
}

.team-bio {
  text-align: left;
}

/* Button Styles */

.btn-template-main {
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-template-main:hover, .btn-template-main:focus,
.btn-template-main:active, .btn-template-main.active {
  background: var(--main-color);
  border-color: var(--main-color);
}
