/* CSS Variables */

:root {
  --main-color: #243374; /* Was #454F87 */
  --main-color-light: #BEC5EC;
  --secondary-color: #C0C2C4;
}


/* From Univeral Theme - Leave as-is */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* Global Styles */

a {
  color: var(--main-color-light);
}

a:hover {
  color: #fff;
}

/* Navigation Menu Styles */

.navbar ul.nav > li > a {
  text-decoration: none;
}

.navbar ul.nav > li > a:hover {
  border-top: 5px solid var(--main-color);
  background: var(--main-color-light);
}

/* Heading Styles */

#heading-breadcrumbs {
  background: var(--main-color);
}

#heading-breadcrumbs .heading {
  margin-bottom: 0;
}

#heading-breadcrumbs .heading h1 {
  color: #fff;
  border-bottom: 5px solid var(--secondary-color);
  margin: 20px 0;
}

.heading h2, .heading h3 {
  color: var(--main-color);
  border-bottom: 5px solid var(--secondary-color);
}

/* Homepage Styles */

.home-carousel {
  background: url('/img/homepage-bg.jpg') center center repeat;
}

.home-carousel .dark-mask {
  background: var(--main-color);
  opacity: 0.6;
}

.box-simple .icon {
  color: var(--main-color);
  border-color: var(--main-color);
}

#homepage-logo-container {
  margin: 5rem 0 0 0;
  width: 100%;
  background-color: var(--main-color);
}

#homepage-logo-container .row {
  padding: 3rem 0;
}

#homepage-logo-container img.img-responsive {
  display: inline;
}

.bar.background-image-fixed-2 {
  background: url('/img/fixed-homepage-bg.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Team Page Styles */

.team-img {
  width: 70%;
  border-radius: 50%;
}

.team-bio {
  text-align: left;
}

/* Portfolio Page Styles */

.client-description {
  text-align: left;
}

/* Button Styles */

.btn-template-main {
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-template-main:hover, .btn-template-main:focus,
.btn-template-main:active {
  background: var(--main-color);
  border-color: var(--main-color);
}

.btn-template-transparent-black:hover, .btn-template-transparent-black:focus,
.btn-template-transparent-black:active {
  color: var(--main-color);
}
