{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-gray no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="heading">
            <h2>{{ .Site.Params.clients.title }}</h2>
        </div>
        <p class="lead">{{ .Site.Params.clients.subtitle }}</p>
        <!-- Start Owl Carousel (use with 5+ clients in /data/clients) -->
        <!-- <ul class="owl-carousel customers">
          {{ range .Site.Data.clients }}
          <li class="item" title="{{ .name }}">
            {{ if .url }}
              <a href="{{ .url }}" target="_blank">
                <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
              </a>
            {{ else }}
              <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
            {{ end }}
          </li>
          {{ end }}
        </ul> -->
        <!-- End Owl Carousel -->
        {{ range .Site.Data.clients }}
        <div class="col-md-6">
          <div class="box-simple">
            <img src="{{ .image }}" title="{{ .name }}" alt="{{ .name }} logo">
          </div>
        </div>
        {{ end }}
        <a href="/portfolio" class="btn btn-lg btn-template-main">See Our Full Portfolio</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
