<section class="bar background-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="heading">
          <h2>About High Bluff Capital</h2>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
          <p>High Bluff Capital is based in San Diego, California and is the private investment firm founded by Anand Gowda. Our focus is on making control-oriented equity investments in consumer facing companies. The firm's team has over 30 years of experience managing, investing, leading and transforming consumer businesses across the restaurant, entertainment, food, beverage and retail markets.</p>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <div class="container" id="homepage-logo-container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img class="img-responsive" src="/img/high-bluff-logo-rec.jpg">
      </div>
    </div>
  </div>
</section>
