<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="heading text-center">
        <h2>Meet the High Bluff Capital Team</h2>
      </div>
    </div>
  </div>
  <!-- Team Members -->
  <div class="row">
    {{ range .Site.Data.team_members }}
    <div class="col-md-4">
      <div class="box-simple">
        <img class="team-img" title="{{ .name }} | High Bluff Capital Partners" alt="image of {{ .name }} of High Bluff Capital Partners" src="{{ .avatar | relURL }}">
        <h3>{{ .name }}</h3>
        <p class="team-bio">{{ .bio | markdownify }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
